@import "styles/config";

.login-box{
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

form{
    background-color: $white;
    border-radius: 10px;
    padding: 3rem 5rem;
    .button-container{
        margin-top: 2rem;
        button{
            font-size: 20px;
            padding: 5px 35px;
            border-radius: 8px;
            background-color: $primary-color;
            color: $white;
        }
        .signup{
            color: $primary2-text-color;
            border: 4px solid $primary-color;
            background-color: $white;
        }
    }
    h3{
    font-size: 25px; 
    }
    .form-group{
        text-align: left;
        display: grid;
        grid-template-rows: 40% 60%;
        margin: 1.5rem 0.5rem;
        font-size: 20px;
        input{
            background-color: $light-grey;
            height: 2.5rem;
            border-radius: 5px;
            padding: 7px;
        } 
    }
}
.grid-button{
        display: grid;
        grid-template-columns: 50% 50%;
}
.register-button{
    height: 4rem;
    button{
    width: 100%;
    font-size: 25px;
    height: 4rem;
    border-radius: 8px;
    background-color: $primary-color;
    color: $white;
}
} 